* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1 {
  font-family: "Oswald", sans-serif;
}

h2,
h3,
h4,
p {
  font-family: "Quattrocento Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
}

.full-height {
  height: 100%;
}

body {
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1995d1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1995a1;
}
.sticky {
  position: fixed;
  overflow: hidden;
  width: 100%;
  padding-right: 5%;
  top: 0;
}

.bg-grey {
  background-color: #111;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: #121212;
  padding-right: 5%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  z-index: 99;
}

@media only screen and (max-width: 768px) {
  ul.topnav {
    border-bottom: none;
  }
}

#team-container {
  margin-top: 100px;
}

.top-block {
  margin-top: 100px;
  padding-bottom: 25px !important;
  background-color: #121212 !important;
}
ul.topnav li.logo {
  margin-left: 5%;
}

@media only screen and (max-width: 768px) {
  .logo-div {
    margin-left: auto;
    margin-right: auto;
  }

  #logo {
    height: 50px;
    width: 50px;
  }

  .opnbtn {
    padding-top: 0;
  }
}

#logo {
  transition: 0.3s;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.body-secondary {
  background-color: #1995d1;
}
/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: block;
  font-weight: 100;
  display: block;
  color: white;
  text-align: center;
  margin-top: 27px;
  margin-right: 5px;
  padding: 5px 10px;
  text-decoration: none;
  transition: ease-out 0.3s;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
  transition: ease-in 0.2s;
}

ul.topnav li a.contactrt {
  opacity: 0.8;
  color: #1995d1;
}

ul.topnav li a.contactrt:hover {
  opacity: 1;
  color: #1995d1;
  -webkit-transition: all 0.4s ease-in-out;
}

ul.topnav li a {
  opacity: 0.4;
}

ul.topnav li a.active {
  border-bottom: 1.5px solid #1995d1;
  opacity: 0.8;
}

ul.topnav li a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  opacity: 1;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

.container {
  padding: 2px 16px;
}

.mt-60 {
  margin-top: 60px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 890px) {
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 890px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 890px) {
  .right {
    display: none;
  }
}

/* Fullscreen Overlay Navbar */

body {
  font-family: "Lato", sans-serif;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 0%;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 1);
  overflow-y: hidden;
  transition: 0.4s;
  z-index: 99;
}

.overlay-content {
  position: relative;
  top: 20%;
  text-align: center;
}

.overlay-content .active {
  color: #1995d1;
  opacity: 0.8;
}

.overlay-content .active:hover {
  opacity: 1;
}
.overlay a {
  font-family: "Quattrocento Sans", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 100;
  padding: 1px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  opacity: 0.5;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #1995d1;
  opacity: 1;
  text-decoration: none;
  padding: 2px;
  -webkit-transition: all 0.4s ease-in-out;
  /*background-color: rgba(0,55,255,0.5);*/
}

.overlay a.contact,
.overlay a:focus {
  color: #1995d1;
  opacity: 0.8;
  text-decoration: none;
  padding: 2px;
  background-color: rgba(255, 255, 255, 1);
}

.overlay a.contact:hover {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
}

.overlay .closebtn {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 60px;
}

.overlay a.closebtn:hover {
  display: block;
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 50px;
    padding: 15px;
  }
}
.overlaySocial {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 10px;
  color: #1995d1;
  background-color: #121212;
}
.overlayIcon:hover {
  background-color: black;
}
.overlay .social a:focus {
  background-color: black;
}

/* --- */

.opnbtn {
  display: none;
}

@media screen and (max-width: 890px) {
  .opnbtn {
    display: block;
    color: white;
    opacity: 0.7;
    padding-top: 0%;
  }
  .opnbtn:hover {
    color: #1995d1;
    opacity: 1;
    -webkit-transition: all 0.4s ease-in-out;
  }

  .top-block {
    margin-top: 75px;
    margin-bottom: 0;
  }

  #team-container {
    margin-top: 0px;
    margin-bottom: 0;
  }
}

/* Footer */
.footer {
  height: auto;
  background-color: #121212;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0px 0px 0px;
}

.footer-logo {
  margin-top: 20px;
  align-content: center;
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 600px) {
  .footer-logo {
    margin-top: 20px;
    align-content: center;
    height: 100px;
    width: 100px;
  }
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-left {
  justify-content: left !important;
}

/* Social */
.social {
  padding-top: 50px;
  padding-bottom: 50px;
}

.icon {
  position: relative;
  border: 1px solid rgb(25, 149, 209, 0.2);
  border-radius: 30px;
  padding: 15px;
  color: #1995d1;
  opacity: 1;
  margin-right: 5px;
}

.icon:hover {
  background-color: #1995d1;
  opacity: 1;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
}

/* End of Footer */

/* Slider */
.slider-container {
  padding: 0 50rem 0 50rem;
  background-color: black;
}

/* End of Slider */

/* Body Block */
.body-block {
  padding-top: 10vh;
  background-color: #121212;
  color: #fff;
  padding-bottom: 0px;
}

.body-block h1 {
  font-family: "Oswald", sans-serif;
  color: #ffb354;
}
@media only screen and (max-width: 640px) {
  .body-block h1 {
    font-size: 5vh;
  }

  .body-block h2 {
    font-size: 4vh;
  }
}

.body-block h2 h4 ul li {
  font-family: "Quattrocento Sans", sans-serif;
}

@media only screen and (max-width: 640px) {
  .body-block {
    padding-top: 20px !important;
  }

  #btn {
    font-size: 15px;
  }
}
/* Body Block */

hr {
  width: 150px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sub-point {
  list-style-type: circle;
  margin-left: 50px;
}

.header-body h1 {
  font-family: "Oswald", sans-serif;
  /*color: #fcbf49;*/
  color: #ffb354;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.secondary h4 {
  color: #fcbf49;
}

.header-body h2 {
  font-family: "Quattrocento Sans", sans-serif;
  color: #fff;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.button {
  background-color: #121212;
  border: 1px solid #1995d1;
  box-shadow: rgba(0, 0, 0, 1);
  color: #1995d1;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Quattrocento Sans", sans-serif;
}

.button:hover {
  background-color: #1995d1;
  opacity: 1;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  text-decoration: none;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  border-radius: 10%;
  padding: 15px;
  outline: none;
  background-color: #121212;
  color: #1995d1;
  cursor: pointer;
  opacity: 1;
}

#topBtn:hover {
  background-color: #1995d1;
  color: #fff;
  opacity: 1;
}
/*Cards */
.post {
  border: none;
  padding: 20px;
  border-right: none;
}

.post:last-child {
  border-right: none;
}

@media only screen and (max-width: 640px) {
  .post {
    width: 100%;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .post:last-child {
    border-bottom: none;
    border-right: none;
  }
}

.post img {
  width: 100%;
  height: 200px;
}

#postbtn {
  font-size: 15px;
  padding: 5px;
}
.postbtn {
  border: 1px solid red;
  color: red;
  opacity: 0.8;
  text-decoration: none;
}

.postDate {
  color: #fff;
  opacity: 0.7;
  text-align: right;
  margin-top: 0px;
}

/*Cards End*/

#about {
  padding-bottom: 100px;
}

.endblock {
  margin: 30px 0px 0px 0px;
  padding-top: 10px;
  background-color: #111;
}

#map {
  padding: 25px 0px 250px 0px;
  margin-bottom: 50px;
  height: 150%;
  width: 100%;
}

#contactBlock {
  padding-bottom: 50px;
}

#achievementBlock ul {
  padding: 20px;
}

#achievementBlock ul li {
  color: #fff;
  margin: 5px;
  list-style: "→ ";
  font-size: 15px;
}

.halfBlock {
  padding: 5%;
  width: 50%;
  text-align: center;
  margin: auto;
  color: #fff;
}

@media only screen and (max-width: 640px) {
  .halfBlock {
    background-color: #111;
    width: 100%;
  }

  .alt {
    padding-bottom: 10px;
  }

  .mReverse {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 10px;
  }

  .post {
    background-color: #111;
  }
}

.halfblock p {
  font-size: 5vh;
}

.team-member,
.team-member .team-img {
  position: relative;
}
.team-member {
  overflow: hidden;
}
.team-member,
.team-member .team-img {
  position: relative;
}

.desk,
.desk h4,
.team-hover .s-link a {
  text-align: center;
  color: #222;
}
.team-member:hover .team-hover .s-link {
  bottom: 10%;
}
.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
  opacity: 1;
}

.team-member .s-link a {
  margin: 0 10px;
  color: #333;
  font-size: 16px;
}
.team-title {
  /* position: static; */
  padding: 10px 0;
  display: inline-block;
  letter-spacing: 2px;
  width: 100%;
}
.team-title h5 {
  font-size: 1.4rem;
  margin-bottom: 0px;
  display: block;
  text-transform: uppercase;
}
.team-title span {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #a5a5a5;
  letter-spacing: 1px;
}

.aCenter {
  margin: 13%;
  margin-top: 60px;
  margin-bottom: 0px;
}

.mobdisplay {
  display: none;
}
#topTeam {
  margin: 0 13%;
}

@media only screen and (max-width: 640px) {
  .aCenter {
    margin: 0px;
  }

  .mobTop {
    margin-top: 0px !important;
  }
  .mobdisplayfalse {
    display: none;
  }

  .mobdisplay {
    display: block;
  }
  #topTeam {
    margin: 0px;
  }

  #teamTwo {
    padding: 10px;
  }

  .team-title h5 {
    font-size: 1.3rem;
  }
  .team-title span {
    font-size: 1.05rem;
  }
}

.team-icon {
  border: 1px solid rgba(25, 149, 209, 0.3);
  border-radius: 60px;
  padding: 8px;
  color: #1995d1;
  transition: ease-out 0.3s;
}

.team-icon:hover {
  background-color: rgb(25, 149, 209, 0.8);
  color: white;
  transition: ease-in 0.2s;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#endTeam {
  margin: 0 13%;
}
@media only screen and (max-width: 640px) {
  #endTeam {
    margin: 0 0;
  }
}

.eventBlock {
  padding-top: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.eventBlock a {
  margin-bottom: 30px;
}

.eventBlock h6 {
  margin-right: 15px;
}

.eventClosed {
  border: 1px solid red;
  color: red;
  opacity: 0.8;
  text-decoration: none;
}

.eventClosed:hover {
  background-color: rgba(255, 0, 0, 0.712);
  text-decoration: none;
}

.team-card {
  max-height: 500px;
}
